<app-menu></app-menu>
<div class="container">
  <div class="card-body">
    <img src="{{collegue.photo}}" alt="photo de {{collegue.pseudo}}" class="img-fluid">
    <p class="card-text text-center font-weight-bold">{{collegue.pseudo}}</p>
    <p class="card-text text-center">{{collegue.score}}</p>
    <table class="table">
      <tr>
        <td>Nom :</td>
        <td>{{collegue.nom}}</td>
      </tr>
      <tr>
        <td>Prenom :</td>
        <td>{{collegue.prenom}}</td>
      </tr>
      <tr>
        <td>Email :</td>
        <td>{{collegue.email}}</td>
      </tr>
      <tr>
        <td>Adresse :</td>
        <td>{{collegue.adresse}}</td>
      </tr>
    </table>
    <div class="text-center">
      <app-avis-component [aimable]="aimable" [detestable]="detestable" (avis)="traiter($event)"></app-avis-component>

      <p>{{messageAvis}}</p>
    </div>
  </div>
</div>
